@media only screen and (max-width: 425px) {
	
	
	/*************   GLOBAL   *************/
	
	*{
		margin:0;
		padding:0;
	}
	
	body{
		margin:0;
		padding:0;
	}
	
	
	form{
		margin:0;
		padding:0;
	}
	
	
	ul{
		padding:0;
		margin:0;
		list-style-type:none;
		width:100%;
	}
	
	li{
		padding:0;
		margin:0;
		width:100%;
		float:left;
	}
	
	fieldset{
		border:1px solid #CCC;
		font: normal 1em 'Titillium Web', sans-serif;
	}
	
	img{
		display:block;
		margin:0;
		padding:0;
	}
	
	label{
		color:#999;
	}	
	
	
	legend{
		font: normal 1.1em 'Titillium Web', sans-serif;
		color:#777;
	}	
	
	p{
		margin:30px 0;
	}
	
	
	
	
	/*************  ESTRUTURA   *************/
	#topo{
		width:100%;
		height:auto;
		float:left;
		border-bottom:1px solid #E0E0E0;
	}
	
	
	#menu{
		width:100%;
		float:left;
		margin:0;
		display:none;
	}
	#menu ul li{
		display:block;
		padding:15px 0;
		text-align:center;
		font: normal 1.2em 'Maven Pro', sans-serif;
		border-top:2px solid #FFF;
		width:100%;
		background:#EEE;
	}
	#menu ul li a{
		color:#009881;
		text-decoration: none;

	}
	#menu ul li a:hover {
		color: #6D6D6D;
		border-bottom:1px solid #555;
		text-decoration: none;
		padding-bottom:15px;
	}	
	
	
	
	
	#rodape{
		float:left;
		width:100%;
		border-top:1px #76d0c2 solid;
		padding:40px 0;
		margin-top:80px;
		text-align:center;
	}
	
	#rodape a{
	color:#009881;
	margin:0 10px;
	padding:8px 0;
	font: normal 1em 'Maven Pro', sans-serif;
	text-decoration: none;
	line-height:35px;
	}
	#rodape a:hover {
	color:#555;
	}
	

	
	
	
	#painel{
		width:100%;
		height:500px;
		background-position:40% 45%;
		float:left;
		background-image:url('../imgs/foto-capa.jpg');
		background-color:#339967;
		border-bottom:0px solid #D6EDE4;
		
	}
	
	
	
	#tarja-SessaoGreen{
		width:80%;
		height:20px;
		margin:120px 10% 60px 10%;
		float:left;
		border-bottom:1px solid #76d0c2;
		font: normal 0.9em 'Maven Pro', sans-serif;
		color:#009858;
		display:block;
	}
	#tarjaSessaoGreen{
		width:80%;
		height:20px;
		margin:60px 10%;
		float:left;
		border-bottom:1px solid #76d0c2;
		font: normal 0.9em 'Maven Pro', sans-serif;
		color:#009858;
		display:block;
	}
	#tarjaSessaoOrange{
		width:80%;
		height:20px;
		margin:60px 10%;
		float:left;
		border-bottom:1px solid #FF6E0D;
		font: normal 0.9em 'Maven Pro', sans-serif;
		color:#009858;	
	}
	#tarjaSessaoGreenInt{
		width:100%;
		height:20px;
		margin:60px 0;
		float:left;
		border-bottom:1px solid #009858;
		font: normal 0.9em 'Maven Pro', sans-serif;
		color:#009858;
	}
	
	
	/*************  COLUNAS  RESPONSIVAS  ***********/
	*{
		margin:0;
		padding:0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing: border-box;
		box-sizing:border-box;
		
	}
	.container{
		width:98%;
		margin-left:auto;
		margin-right:auto;
		background:#CCC;
	}
	
	.row{
		margin-left:-5px;
		margin-right:-5px;
	}
	.row:before, 
	.row:after{
		content:"";
		display:table;
	}
	.row:after{
		clear:both;
	}
	.col{
		display:inline-block;
		vertical-align:top;
		min-height:1px;
		padding-left:5px;
		padding-right:5px;
		width:100%;
		margin-right:-4px;
	}
	
	.col-2{
		width:50%;
	}
	
	.col-3{
		width:33.33333%;
	}
	
	.col-4{
		width:25%;
	}
	
	.teste{
		background:#CDC;
		padding:5px;
		text-align:center;
		margin:2px 0;
		color:red;
	}
	
	.big{
		height:50px;
	}
	/***********   COLUNAS  RESPONSIVAS  ************/
	
	
	
	
	
	
	
	
	
	
	
	/*********   BLOCOS / BOX  ***********/
	.conteudo{
		width:80%;
		float:left;
		margin:0 10%;
		border:0px solid #CCC;
	}
	
	.header-painel{
		width:100%;
		float:left;
		margin-top:50px;
	}
	.header-painel-two{
		width:100%;
		float:left;
		margin-left:0;
		padding:8%;
	}
	
	
	.box-news-painel{
		float:left;
		width:82%;
		margin:-90px 9%;
	}
	
	.box-food-painel{
		float:left;
		width:82%;
		margin:0px 9%;
	}	
	
	
	.box-insta-painel {
		float:left;
		width:82%;
		margin:0px 9%;
		margin-bottom:20px;
	}
	
	.box-item-four{
		min-height:180px;
		width:100%;
		padding:5%;
		border-radius:7px;
		background:#dff1ee;
		margin-bottom:15px;
		text-align:left;
		float:left;
	}
	
	.box-item-three{
		min-height:250px;
		width:100%;
		border-radius:7px;
		margin-top:50px;
		float:left;
	}
	
	.box-img-left{
		width:100%;
		float:left;
		border-radius:7px;
		background-size:100%;
	}
	.box-img-right{
		width:100%;
		float:right;
		border-radius:7px;
		background-size:100%;
	}
	
	.box-img-center{
		width:100%;
		height:480px;
		float:left;
		border-radius:7px;
		background-size:curve;
		background-position:40% 20%;
		margin-top:60px;
	}
	
	.box-left{
		width:100%;
		margin-top:0;
		float:left;
		display:block;
		margin-bottom:50px;
	}
	.box-left-conteudo{
		width:100%;
		float:left;
		margin-top:0;
		border:1px solid #0d0;
	}		
	
	.box-right{
		width:100%;
		float:right;
		margin-bottom:0px;
	}
	
	.box-food{
		width:100%;
		background:#FFE9D7;
		float:left;
		margin:0;
		border:0;
		padding-bottom:50px;
		background-image:url('../imgs/bg-food.jpg');
	}
	
	.col-for-four{
		width:33.3333%;
		float:left;
		background:#E80;
	}
	
	.box-foto-circle{
		width:100%;
		float:left;
		border:0px solid red;
		text-align:center;

	}
	
	.box-foto-destaque{
		display:none;
		/*width:auto;
		max-height:250px;
		float:left;*/
	}
	
	.box-foto-serie{
		display:none;
		}	
	
	
	.box-desc-post{
		width:100%;
		max-height:250px;
		float:left;
	}
	
	.box-head-post{
		float:left;
		margin:40px 0;
	}
	
	
	.item-head-post{
		width:auto;
		height:60px;
		padding:0 20px;
		float:left;
		border-right:1px solid #CCC;
	}
	
	.conteudo-post{
		font: normal 1.1em 'Maven Pro', sans-serif;
		word-spacing:2px;
		line-height:25px;
		color:#666;
		float:left;	
	}
	
	
	.box-perfil{
		display:none;
		background:#82C7AA;
		padding:40px;
		height:802px;
		border-radius:5px;
		background-image:url('../imgs/bg-perfil-viagem.jpg');
		
	}
	
	.conteudo-perfil{
		font: normal 1.1em 'Maven Pro', sans-serif;
		word-spacing:2px;
		line-height:25px;
		color:#FFF;
		float:left;	
		margin:40px 0;
	}
	
	
	
	
	.box-link-topicos{
		float:left;
		word-spacing:30px;
		margin:20px 0;
		letter-spacing:5px;
	}
	
	.box-form{
		float:left;
		border:1px solid #CCC;
		padding:20px;
		width:100%;
		background:#f1f1f1;
	}
	
	.box-media-social{
		float:left;
		background:#FFF;
		border-radius:7px;
		padding:8px 20px;
		color:#7F7F7F;
		bottom:80px;
	}
	
	.coluna-posts{
		float:left;
		/*background:#ea0;*/
	}
	.user-post{
		width:100%;
		margin-top:10px;
	}
	.post-item{
		float:left;
		margin:15px 0;
		text-align:center;
	}
	.coluna-tags{
		float:left;
		/*background:#ead;*/
		width:100%;
	}
	
	
	
	
	/***********  TEXTOS ***********/
	.tit-H1{
		font: normal 2.8em 'Bitter', serif;
		color:#FFF;
		margin:10px 0;
		text-decoration:none;
		float:left;
	}
	a.tit-H1:hover{
		color:#eee;
	}
	
	
	
	
	.tit-H2{
		font: normal 2.3em 'Bitter', serif;
		color:#FFF;
		margin:0;
		margin-top:20px;
		text-decoration:none;
		float:left;
	}
	a.tit-H2:hover{
		color:#eee;
	}	
	
	
	
	
	.tit-H2-green{
		font: normal 2em 'Bitter', serif;
		color:#009881;
		margin:30px 0;
		float:left;
		clear:left;
		text-decoration:none;
	}
	a.tit-H2-green:hover{
		color:#666;
	}
	
	
	.tit-H2-orange{
		font: normal 2em 'Bitter', serif;
		color:#FF8D37;
		margin:30px 0;
		float:left;
		clear:left;
		text-decoration:none;
	}
	a.tit-H2-orange:hover{
		color:#666;
	}
	
	
	.tit-H3{
		float:left;
		text-align:center;
		font: normal 1.2em 'Bitter', serif;
		color:#666666;
		line-height:28px;
		text-decoration:none;
	}
	a.tit-H3:hover{
		color:#339966;
	}
	
	
	.title-H1{
		font: normal 2em 'Bitter', serif;
		color:#009881;
		text-decoration:none;
		float:left;	
	}
	.title-H2{
		font: normal 2em 'Bitter', serif;
		color:#666;
		text-decoration:none;
	}	
	
	
	.title-H2-white{
		font: normal 2.5em 'Bitter', serif;
		color:#FFF;
		text-decoration:none;
		float:left;
	}
	
	
	.legenda-H5-white{
		font: normal 0.9em 'Maven Pro', sans-serif;
		letter-spacing:2px;
		Word-spacing:2px;
		color:#FFF;
		margin:20px 0;
		float:left;
		clear:left;
	}
	
	.legenda-H5-gray{
		font: normal 0.9em 'Maven Pro', sans-serif;
		letter-spacing:2px;
		Word-spacing:2px;
		line-height:35px;
		color:#666;
		margin:0;
		float:left;
		clear:left;
		padding-right:0;
	}
	
	.legenda-user{
		margin:0;
		padding:0;
		width:100%;
	}
	
	
	.link-green{
		display:none;
		font-family: 'Maven Pro', sans-serif;
		letter-spacing:2px;
		Word-spacing:2px;
		line-height:35px;
		color:#339966;
		background:#FFF;
		float:right;
		padding-left:25px;
		text-decoration:none;
	}
	a.link-green:hover{
		text-decoration:underline;
	}
	.txt-green{
		letter-spacing:2px;
		Word-spacing:2px;
		line-height:35px;
		color:#009881;
		background:#FFF;
		float:left;
		padding-right:25px;
		text-decoration:none;
		font-family: 'Maven Pro', sans-serif;
	}
	
	
	
	.link-orange{
		display:none;
		font-family: 'Maven Pro', sans-serif;
		letter-spacing:2px;
		Word-spacing:2px;
		line-height:35px;
		color:#FF6E0D;
		background:#FFF;
		float:right;
		padding-left:25px;
		text-decoration:none;
	}
	a.link-orange:hover{
		text-decoration:underline;
	}
	
	.txt-orange{
		letter-spacing:2px;
		Word-spacing:2px;
		line-height:35px;
		color:#FF6E0D;
		background:#FFF;
		float:left;
		padding-right:25px;
		text-decoration:none;
		font-family: 'Maven Pro', sans-serif;
	}	
	
	
	.texto-H3-gray{
		letter-spacing:2px;
		word-spacing:2px;
		line-height:38px;
		color:#666;
		float:left;
		text-decoration:none;
		font: normal 1.1em 'Bitter', serif;	
		margin:10px 0;
	}
	
	
	.tit-gray{
		font: normal 2em 'Bitter', serif;
		color:#666;
		margin-top:10px 0;
		margin-top:35px;
		float:left;
		clear:left;
	}
	
	.autor-post{
		font: normal 1em 'Maven Pro', sans-serif;
		color:#666;
		margin-top:12px;
		float:left;
		clear:left;	
	}
	.topico-post{
		font: normal 0.9em 'Maven Pro', sans-serif;
		color:#666;
		margin-top:23px;
		float:left;
		clear:left;	
		letter-spacing:4px;
	}
	
	.center{
		text-align:center
	}
	
	.link-topicos{
		font: normal 0.8em 'Maven Pro', sans-serif;
		line-height:25px;
		color:#666;
		text-decoration:none;
		font-weight:bold; 
	}
	a.link-topicos:hover{
		text-decoration:underline;
	}
	
	
	.tag{
		background:#f5f5f5;
		width:29.2222%;
		margin:2%;
		margin-bottom:20px;
		margin-top:0;
		padding:12px 5%;
		text-decoration:none;
		font: normal 0.8em 'Maven Pro', sans-serif;
		float:left;
		text-align:center;
		letter-spacing:2px;
		word-spacing:2px;
		font-weight:bold;
		color:#777;
	}
	a.tag:hover{
		color:#222;
		background:#f2f2f2;
	}
	
	/***********   ELEMENTOS  ***********/
	
	
	.circle-foto{
		width: 150px;
		height: 150px;
		border-radius:75px;
		border:0;
		background-repeat:no-repeat;
		background-size:100%;
		margin-right:0;
	}
	
	.circle-foto-post{
		width: 60px;
		height: 60px;
		border-radius:30px;
		border:0;
		background-repeat:no-repeat;
		background-size:100%;
		float:left;
	}
	
	.circle-foto-perfil{
		width: 160px;
		height: 160px;
		border-radius:80px;
		border:0;
		background-repeat:no-repeat;
		background-size:100%;
		float:left;
		margin-bottom:40px;
	}
	
	.foto-user-post{
		display:block;
		margin:0 auto;
	}
	
	.icon-news{
		color:#a7cec7;
		float:right;
		width:100%;
		text-align:right;
		margin-bottom:20px;
		font-size:1.8em;
	}
	
	.tag-orange{
		background:#FF8D37;
		padding:10px 20px;
		font-family: 'Maven Pro', sans-serif;
		color:#FFF;
		float:left;
		border-radius:5px;
		letter-spacing:5px;
		margin-top:30px;
	}
	
	.tag-green{
		background:#009881;
		padding:10px 20px;
		font-family: 'Maven Pro', sans-serif;
		color:#FFF;
		float:left;
		border-radius:5px;
		letter-spacing:5px;
		margin-top:30px;
	}
	
	.tag-gray{
		background:#555;
		padding:10px 20px;
		font-family: 'Maven Pro', sans-serif;
		color:#FFF;
		float:left;
		border-radius:5px;
		letter-spacing:5px;
	}
	
	.embed{
		position:relative;
		width:100%;
		padding-bottom:56.25%;
	}
	.embed iframe{
		position:absolute;
		width:100%;
		height:100%;
		border:none;
	}
	
	.ico-social{
		margin:0 12px;
		cursor:pointer;
		font-size:1.2em;
	}
	i.ico-social:hover{
		color:#339967;
	}
	
	
	/***********   FORMULARIO  ***********/
	.textarea{
		padding:18px;
		float:left;
		border:1px solid #CCC;
		border-radius:5px;
		width:100%;
		font-size:1em;
		color:#666;
		margin:8px 0;
	}
	.input-text{
		padding:18px;
		float:left;
		border:1px solid #CCC;
		border-radius:5px;
		width:100%;
		font-size:1em;
		color:#666;
		margin-bottom:8px;
	}
	
	
	.input-btn{
		padding:18px 60px;
		float:left;
		border:0;
		border-radius:5px;
		font-size:1em;
		color:#fff;
		margin:0 4px;
		background:#009858;
		cursor:pointer;
		margin-top:8px;
	}
	input.input-btn:hover{
		background:#05ad66;
		cursor:pointer;
	}
	
	
	
	
	
	
	/***********   IMAGENS  ***********/
	
	.logo{
		display:none;
	}
	
	.logo-mob{
		width:43%;
		display:block;
		margin:30px auto;
	}
	
	
	.ft-box{
		float:left;
		width:100%;
		height:auto;
	}
	
	.foto-insta{
		background-size:100%;
		margin-bottom:15px;
	}
	a.foto-insta:hover{
		-webkit-filter: contrast(120%);
		-moz-filter: contrast(120%);
		-ms-filter: contrast(120%);
		-o-filter: contrast(120%);
		filter: contrast(120%);
	}
	
	
	.ico-insta{
	width:100px;
	margin:0 auto;
	display:block;
	margin-top:32px;
	}
	
	.seta-ancora{
		width:45px;
		position:fixed;
		z-index:100;
		right:15px;
		bottom:15px;
	}
	.fig-aviao{
		float:left;
		width:100%;
	}
	
	.menuBars{
		left:12px;
		position:absolute;	
		top:12px;
		cursor:pointer;
	}
	
}

