RewriteEngine On
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d


RewriteRule ^home/?$ index.html [NC,L]
RewriteRule ^post/?$ interna.html [NC,L]
RewriteRule ^send-post/?$ envia-post.html [NC,L]






